<!-- templates/about.html -->
{% extends 'base.html' %}

{% block content %}

<div class="image-aboutus-banner"style="margin-top:70px">
    <div class="container">
     <div class="row">
         <div class="col-md-12">
          <h1 class="lg-text">Available Source Data</h1>
          <p class="image-aboutus-para">Online source data for 2020 - 2022 (unstructured) are available below.</p>
        </div>
     </div>

 </div>
 </div>


 <div class="container">
   
    <div class="row">
       <div class="col-sm-10">
            <h3 class="lg-text">2022</h3>
           <div  class="thumbnail" style="display:inline-block">
           <a href="https://mthai.com/campus/230751.html">
               <img src="../static/images/src3.jpg" style="width: 100%"></a>
           </div>
           <h3 class="lg-text">2021</h3>
           <div class="thumbnail" style="display:inline-block">
           <a href="https://www.jeab.com/life/japanese-fortune-birthday-ranking-2021">
               <img src="../static/images/src1.jpg" style="width: 100%"></a>
           </div>
           <h3 class="lg-text">2020</h3>
           <div class="thumbnail" style="display:inline-block">
           <a href="https://horoscope.trueid.net/detail/bNZkZxrm7pzV">
               <img src="../static/images/src2.jpg" style="width: 100%"></a>
           </div>
       </div>
   </div>

</div>

{% endblock content %}
